@media (max-width: 1440px) {
  .home-section .full-screen {
    flex-direction: row;
    padding: 180px 0;
    min-width: 100vw;
    height: 100%;
    padding-left: 40px;
    align-items: center;
    display: flex;
  }

  .effect-4 {
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 20%;
    top: 10%;
    animation: spin 15s linear infinite;
  }
  .home-section .home-text .home-content.active {
    display: inherit;
    width: 600px;
    padding-right: 50px;
    animation: fadeInLeft 0.5s ease;
  }

  .home-section .home-text .home-content p {
    color: var(--text-black-300);
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
  }

  .home-section .home-text .home-content h2 {
    font-size: 80px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
  }

  .home-section .home-text .home-content span {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0;
    margin-left: 30px;
    line-height: 1.6;
    display: block;
    position: relative;
  }

  .home-section .home-projects h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 500;
    color: var(--text-black-900);
    position: relative;
  }

  .home-section .home-projects .projects-wrapper .box-effect span {
    height: 60%;
    font-size: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--text-black-700);
  }
}

@media (max-width: 1024px) {
  .container {
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
  }

  .effect-2 {
    left: 3%;
    bottom: 10%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
  }

  .effect-4 {
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top: 10%;
    animation: spin 15s linear infinite;
  }

  .home-section .home-text .home-content.active {
    display: inherit;
    width: 400px;
    padding-right: 50px;
    animation: fadeInLeft 0.5s ease;
  }

  .home-section .full-screen {
    flex-direction: row;
    padding: 180px 0;
    min-width: 100vw;
    height: 100%;
    padding-left: 40px;
    align-items: center;
    display: flex;
  }

  .home-section .home-text .home-content p {
    color: var(--text-black-300);
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
  }

  .home-section .home-text .home-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
  }

  .home-section .home-text .home-content span {
    font-size: 12px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0;
    margin-left: 30px;
    line-height: 1.6;
    display: block;
    position: relative;
  }

  .home-section .home-projects h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-black-900);
    position: relative;
  }

  .home-section .home-projects .projects-wrapper .box-effect span {
    height: 60%;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--text-black-700);
  }
}

@media (max-width: 768px) {
  .home-section .full-screen {
    flex-direction: row;
    padding: 180px 0;
    min-width: 100vw;
    height: 100%;
    padding-left: 40px;
    align-items: center;
    display: flex;
  }

  .home-section .home-text .home-content p {
    color: var(--text-black-300);
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
  }

  .home-section .home-text .home-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
  }

  .home-section .home-text .home-content span {
    font-size: 10px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0;
    margin-left: 30px;
    line-height: 1.6;
    display: block;
    position: relative;
  }

  .home-section .home-projects h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-black-900);
    position: relative;
  }

  .home-section .home-projects .projects-wrapper .box-effect span {
    height: 60%;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--text-black-700);
  }
}

@media (max-width: 600px) {
  .home-section .full-screen {
    flex-direction: column;
    padding: 180px 0;
    min-width: 100vw;
    height: 100%;
    padding-left: 40px;
    align-items: center;
    display: flex;
  }

  .home-section .home-text .home-content p {
    color: var(--text-black-300);
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
  }

  .home-section .home-text .home-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
  }

  .home-section .home-text .home-content span {
    font-size: 10px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0;
    margin-left: 30px;
    line-height: 1.6;
    display: block;
    position: relative;
  }

  .home-section .home-projects h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-black-900);
    position: relative;
  }

  .home-section .home-projects .projects-wrapper .box-effect span {
    height: 60%;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--text-black-700);
  }
}

@media (max-width: 425px) {
  .home-section .full-screen {
    flex-direction: column;
    padding: 180px 0;
    min-width: 100vw;
    height: 100%;
    padding-left: 50px;
    align-items: center;
    display: flex;
  }

  .home-section .home-text .home-content p {
    color: var(--text-black-300);
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
  }

  .home-section .home-text .home-content h2 {
    font-size: 45px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
  }

  .home-section .home-text .home-content span {
    font-size: 10px;
    width: 350px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0;
    margin-left: 20px;
    line-height: 1.6;
    display: block;
    position: relative;
  }

  .home-section .home-projects h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-black-900);
    position: relative;
  }

  .home-section .home-projects .projects-wrapper .box-effect span {
    height: 60%;
    font-size: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--text-black-700);
  }

  .home-section .home-projects {
    margin-right: 60px;
  }

  .home-section .home-projects .tab-item {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .home-section .full-screen {
    flex-direction: column;
    padding: 180px 0;
    min-width: 100vw;
    height: 100%;
    padding-left: 90px;
    align-items: center;
    display: flex;
  }

  .effect-3 {
    height: 150px;
    width: 150px;
    border: 25px solid var(--skin-color);
    border-radius: 50%;
    left: 40%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
  }

  .home-section .home-text .home-content.active {
    display: inherit;
    width: 600px;
    padding-right: 50px;
    animation: fadeInLeft 0.5s ease;
  }

  .home-section .home-text .home-content p {
    color: var(--text-black-300);
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 120px;
  }

  .home-section .home-text .home-content h2 {
    font-size: 50px;
    font-weight: 700;
    color: var(--text-black-900);
    margin-left: 120px;
  }

  .home-section .home-text .home-content span {
    font-size: 13px;
    width: 300px;
    font-weight: 600;
    color: var(--text-black-700);
    margin-left: 120px;
    /* margin-left: 20px; */
    line-height: 1.6;
    display: block;
    position: relative;
  }

  .home-section .home-text .project h2 {
    font-size: 20px;
  }

  .home-section .home-projects h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-black-900);
    position: relative;
  }

  .home-section .home-projects .projects-wrapper .box-effect span {
    height: 60%;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--text-black-700);
  }

  .home-section .home-projects {
    margin-right: 90px;
  }

  .home-section .home-projects .tab-item {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .home-section .full-screen {
    /* flex-direction: column; */
    padding: 180px 0;
    min-width: 100vw;
    height: 100%;
    padding-left: 90px;
    align-items: center;
    /* display: flex; */
    flex-wrap: nowrap;
  }

  .home-section .home-text .home-content.active {
    display: inherit;
    width: 400px;
    padding-right: 100px;
    animation: fadeInLeft 0.5s ease;
  }

  .home-section .home-text .home-content p {
    color: var(--text-black-300);
    font-size: 10px;
    text-transform: capitalize;
    margin-left: 20px;
  }

  .home-section .home-text .home-content h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    margin-left: 20px;
  }

  .home-section .home-text .home-content span {
    font-size: 10px;
    font-weight: 600;
    color: var(--text-black-700);
    margin-left: 20px;
    /* margin-left: 30px; */
    line-height: 1.6;
    display: block;
    position: relative;
  }

  .home-section .home-text .home-content span::before {
    content: "";
    width: 2px;
    background-color: red;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10px;
  }

  .home-section .home-text .project h2 {
    font-size: 20px;
  }

  .home-section .home-projects h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    color: var(--text-black-900);
    position: relative;
  }

  .home-section .home-projects .projects-wrapper .box-effect span {
    height: 60%;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: var(--text-black-700);
  }

  .home-section .home-projects {
    margin-right: 90px;
  }

  .home-section .home-projects .tab-item {
    text-align: center;
  }
}
